<div class = "container mt-0">
  <div class="row justify-content-center mt-0">
    <div class="message-container">
      <div class="messages" data-match-subscription-target="messages">
        <% @match.messages.each do |message| %>
          <% if message.user == current_user %>
            <%= render 'messages/message', message: message, css_class: 'sent-message', image: current_user.photo  %>
          <% else %>
            <%= render 'messages/message', message: message, css_class: 'received-message', image: message.user.photo  %>
          <% end %>
        <% end %>
      </div>
      <%= render "messages/new" %>
    </div>
  </div>
</div>
