html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.background {
  background-image: linear-gradient(to top, #F55C5D, #F5B55C);
}
