.homepage-all {
  align-items: center;
}

.homepage-title, .homepage-tagline {
  color: white;
}

.form-subtitle {
  color: white;
  margin-top: 20%;
}


.homepage-title {
  font-size: 5vmax;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
}

.homepage-tagline {
  font-size: 2vmax;
  margin-top: 20%;
}

#homepage-block {
  margin: 10% 10%;
  text-align: center;
}

.homepage-adress {
  width: 100%;
  margin: auto;
}

#address {
  color: rgb(255, 255, 255);
  text-align: center;
}

.tag-item {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}

.tag-item-inputs {
  display: flex;
  justify-content: space-around;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5vmax;
  border-radius: 50rem;
  padding: 0.6rem 0.6rem;
  background-color: rgba(255, 0, 0, 0.4);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  color: #ffffff;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  width: 100%;
  text-align: center;
}

.tag-selector:checked + label {
  color: rgba(255, 0, 0, 0.6);
  background-color: white;
}

.searchbar-homepage {
  margin: 14%;
  border-radius: 5rem;
  background-color: rgba(255,0,0,0.4);
  font-size: 1.5vmax;
  padding: 0.8rem 3rem;
  border: none;
}

.searchbar-submit {
  border-radius: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
  font-size: 1.5vmax;
  padding: 0.8rem 4rem;
  border: none;
  margin: 6%;
}

.searchbar-submit:hover {
  background-color: rgba(255, 255, 255, 0.686);
}

.shifted-row:nth-child(2n) {
  width: 100%;
  margin-top: 10px;
}

.shifted-row:nth-child(2n + 1) {
  width: 100%;
  margin-top: 10px;
}

@media (min-width: 600px) {
  .homepage-tagline {
    margin-top: 3em;
  }

  #homepage-block {
    margin: 4% 10%;
  }

  .homepage-adress {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  .form-subtitle {
    margin-top: 5%;
  }

  .homepage-title {
    font-size: 4vmax;
  }

  .searchbar-submit {
    margin: 2%;
  }
}

@media (min-width: 1000px) {
  .homepage-tagline {
    margin-top: 4%;
  }

  #homepage-block {
      margin: 2% 10% 3%;
    }

  .form-subtitle {
    margin-top: 1.5em;
  }
}
