<div class="d-flex justify-content-start align-items-center mb-2">
<div class="map-info-avatar" style="background-image: url('<%= cl_image_path match.photo.key %>')"></div>
<h2 class= "m-0" style="color:black" ><%= match.first_name %> <%= match.last_name %></h2>
</div>
<p class= "m-0 mb-0"><%= match.address %></p>
