.notification {
  top: -10px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: rgba(255, 0, 0, 0.4);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
